<ion-app>
    <ion-menu contentId="menu-content" side="start">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <a routerLink="/liste-personne">Affichage</a>
            </ion-item>
            <ion-item>
              <a routerLink="/insert">Insertion</a>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
